<template>
  <div class="agent-page">
    <div class="page-header">
      <h1>{{ pageTitle }}</h1>
      <div class="action-buttons">
        <button class="primary-btn" @click="saveAgent" :disabled="isSaving">
          <span v-if="!isSaving">Simpan Agen</span>
          <span v-else>Menyimpan...</span>
        </button>
      </div>
    </div>

    <div class="form-container">
      <!-- Personal Information -->
      <div class="form-card">
        <div class="card-header">
          <i class="fas fa-user"></i> Maklumat Peribadi
        </div>
        <div class="card-body">
          <div class="form-grid">
            <div class="form-group">
              <label class="required">Nama Penuh</label>
              <input v-model="agent.fullname" type="text" required />
              <small class="help-text">Nama rasmi seperti dalam dokumen</small>
            </div>

            <div class="form-group">
              <label class="required">No. Kad Pengenalan/Pasport</label>
              <input v-model="agent.nric" type="text" required />
            </div>

            <div class="form-group">
              <label class="required">Nombor Telefon</label>
              <input
                v-model="agent.phone"
                type="tel"
                pattern="\d{10}"
                required
              />
              <small class="help-text">Contoh: 0123456789</small>
            </div>

            <div class="form-group">
              <label class="required">Alamat Emel</label>
              <input v-model="agent.email" type="email" required />
            </div>

            <div class="form-group full-width">
              <label class="required">Alamat Tempat Tinggal</label>
              <textarea v-model="agent.address" required></textarea>
            </div>
          </div>
        </div>
      </div>

      <!-- Financial Information -->
      <div class="form-card">
        <div class="card-header">
          <i class="fas fa-money-check-alt"></i> Maklumat Kewangan
        </div>
        <div class="card-body">
          <div class="form-grid">
            <div class="form-group">
              <label class="required">Nama Bank</label>
              <input v-model="agent.bankname" type="text" required />
            </div>

            <div class="form-group">
              <label class="required">Nama Pemegang Akaun</label>
              <input v-model="agent.accountholder" type="text" required />
            </div>

            <div class="form-group">
              <label class="required">Nombor Akaun</label>
              <input v-model="agent.accountnumber" type="text" required />
            </div>
          </div>
        </div>
      </div>

      <!-- Login Credentials -->
      <div class="form-card">
        <div class="card-header">
          <i class="fas fa-lock"></i> Maklumat Log Masuk
        </div>
        <div class="card-body">
          <div class="form-grid">
            <div class="form-group">
              <label class="required">Nama Pengguna</label>
              <input v-model="agent.username" type="text" required />
            </div>

            <div class="form-group">
              <label class="required">Kata Laluan</label>
              <input
                v-model="agent.password"
                :type="showPassword ? 'text' : 'password'"
                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$"
                required
              />
              <button
                type="button"
                class="password-toggle"
                @click="showPassword = !showPassword"
              >
                <i
                  :class="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"
                ></i>
              </button>
              <small class="help-text"
                >Minimum 8 aksara dengan huruf besar, kecil dan nombor</small
              >
            </div>

            <div class="form-group">
              <label class="required">Sahkan Kata Laluan</label>
              <input
                v-model="agent.confirmpassword"
                :type="showConfirmPassword ? 'text' : 'password'"
                required
              />
              <button
                type="button"
                class="password-toggle"
                @click="showConfirmPassword = !showConfirmPassword"
              >
                <i
                  :class="
                    showConfirmPassword ? 'fas fa-eye-slash' : 'fas fa-eye'
                  "
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Document Upload -->
      <div class="form-card">
        <div class="card-header">
          <i class="fas fa-file-upload"></i> Muat Naik Dokumen
        </div>
        <div class="card-body">
          <div class="file-upload-group">
            <div class="file-upload">
              <label>
                <i class="fas fa-cloud-upload-alt"></i> Salinan Kad Pengenalan
                <input
                  type="file"
                  accept="image/*, application/pdf"
                  @change="handleFileUpload('idFile', $event)"
                />
              </label>
              <small class="help-text">JPG, PNG atau PDF</small>
            </div>

            <div class="file-upload">
              <label>
                <i class="fas fa-file-contract"></i> Perjanjian Agen
                <input
                  type="file"
                  accept="application/pdf"
                  @change="handleFileUpload('agreementFile', $event)"
                />
              </label>
              <small class="help-text">Format PDF sahaja</small>
            </div>
          </div>

          <div v-if="agent.documents?.length" class="document-list">
            <h4>Dokumen Dimuat Naik:</h4>
            <ul>
              <li v-for="(doc, index) in agent.documents" :key="index">
                <div class="doc-info">
                  <i :class="getDocumentIcon(doc.type)"></i>
                  {{ doc.name }}
                </div>
                <div class="doc-actions">
                  <button @click="downloadDocument(doc)">
                    <i class="fas fa-download"></i>
                  </button>
                  <button @click="deleteDocument(index)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Success Notification -->
    <div v-if="successMessage" class="toast-notification">
      <i class="fas fa-check-circle"></i> {{ successMessage }}
    </div>

    <!-- Error Notification -->
    <div v-if="errorMessage" class="toast-notification error">
      <i class="fas fa-exclamation-circle"></i> {{ errorMessage }}
    </div>
  </div>
</template>

<script>
export default {
  name: "AgentDetails",
  data() {
    return {
      pageTitle: "Maklumat Agen",
      agent: {
        id: "",
        fullname: "",
        nric: "",
        phone: "",
        email: "",
        address: "",
        bankname: "",
        accountholder: "",
        accountnumber: "",
        username: "",
        password: "",
        confirmpassword: "",
        documents: [],
      },
      showPassword: false,
      showConfirmPassword: false,
      isSaving: false,
      successMessage: "",
      errorMessage: "",
    };
  },
  mounted() {
    const agentId = `${this.$route.params.id}`;
    if (agentId) {
      const agents = JSON.parse(localStorage.getItem("agents")) || [];
      const foundAgent = agents.find((agent) => agent.id === agentId);

      if (foundAgent) {
        this.agent = { ...foundAgent }; // Use spread to prevent direct mutation.
      } else {
        console.warn(`Agent with ID ${agentId} not found.`);
      }
    }
  },
  methods: {
    async saveAgent() {
      try {
        this.isSaving = true;
        this.errorMessage = "";

        // Validate password match
        if (this.agent.password !== this.agent.confirmpassword) {
          throw new Error("Kata laluan tidak sepadan!");
        }

        // Validate required fields
        const requiredFields = [
          "fullname",
          "nric",
          "phone",
          "email",
          "address",
          "bankname",
          "accountholder",
          "accountnumber",
          "username",
          "password",
          "confirmpassword",
        ];

        for (const field of requiredFields) {
          if (!this.agent[field]) {
            throw new Error(`Sila isi semua medan wajib`);
          }
        }

        // Save to localStorage
        const agents = JSON.parse(localStorage.getItem("agents")) || [];
        const index = agents.findIndex((a) => a.id === this.agent.id);

        if (index > -1) {
          agents[index] = { ...this.agent };
        } else {
          agents.push({ ...this.agent });
        }

        localStorage.setItem("agents", JSON.stringify(agents));
        this.showSuccess("Maklumat agen berjaya disimpan!");
      } catch (error) {
        this.showError(error.message || "Ralat menyimpan maklumat");
      } finally {
        this.isSaving = false;
      }
    },
    handleFileUpload(field, event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = (e) => {
          this.agent.documents.push({
            name: file.name,
            type: file.type,
            content: e.target.result,
          });
        };
        reader.readAsDataURL(file);
      }
    },
    downloadDocument(doc) {
      const link = document.createElement("a");
      link.href = doc.content;
      link.download = doc.name;
      link.click();
    },
    deleteDocument(index) {
      this.agent.documents.splice(index, 1);
    },
    generateNewAgentId() {
      const agents = JSON.parse(localStorage.getItem("agents")) || [];
      const maxId = agents.reduce((max, a) => {
        const num = parseInt(a.id.replace("SOF", ""), 10);
        return num > max ? num : max;
      }, 0);
      return `SOF${(maxId + 1).toString().padStart(6, "0")}`;
    },
    getDocumentIcon(type) {
      if (type === "application/pdf") return "fas fa-file-pdf";
      if (type.startsWith("image/")) return "fas fa-file-image";
      return "fas fa-file-alt";
    },
    showSuccess(message) {
      this.successMessage = message;
      setTimeout(() => (this.successMessage = ""), 3000);
    },
    showError(message) {
      this.errorMessage = message;
      setTimeout(() => (this.errorMessage = ""), 5000);
    },
  },
};
</script>

<style scoped>
/* Add FontAwesome CSS in your main index.html */
/* <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet"> */

.agent-page {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.form-container {
  display: grid;
  gap: 2rem;
}

.form-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-header {
  background: #1a56db;
  color: white;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-body {
  padding: 1.5rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-group.full-width {
  grid-column: span 2;
}

label.required::after {
  content: "*";
  color: red;
  margin-left: 3px;
}

input,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  transition: border-color 0.3s;
}

input:focus,
textarea:focus {
  border-color: #1a56db;
  outline: none;
  box-shadow: 0 0 0 2px rgba(26, 86, 219, 0.2);
}

.password-toggle {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #666;
  cursor: pointer;
}

.file-upload-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.file-upload {
  border: 2px dashed #e0e0e0;
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  transition: border-color 0.3s;
  position: relative;
}

.file-upload:hover {
  border-color: #1a56db;
}

.file-upload input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.document-list ul {
  list-style: none;
  padding: 0;
}

.document-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-bottom: 1px solid #f0f0f0;
}

.doc-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.doc-actions button {
  background: none;
  border: none;
  color: #666;
  margin-left: 0.5rem;
  cursor: pointer;
}

.toast-notification {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  animation: slideIn 0.3s ease-out;
}

.toast-notification.success {
  background: #d4edda;
  color: #155724;
}

.toast-notification.error {
  background: #f8d7da;
  color: #721c24;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

/* Responsive styles */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .file-upload-group {
    grid-template-columns: 1fr;
  }
}
</style>
