<template>
  <div class="container">
    <div class="header-section">
      <h1 class="main-title">Agent Management</h1>
      <div class="action-buttons">
        <button
          class="fab add-fab"
          @click="openModal(null)"
          title="Add New Agent"
        >
          <svg class="icon plus-icon" viewBox="0 0 24 24">
            <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z" />
          </svg>
        </button>
      </div>
    </div>

    <div class="search-container">
      <input
        v-model="searchQuery"
        placeholder="Search agents..."
        class="search-input"
        aria-label="Search agents"
      />
    </div>

    <div class="table-wrapper">
      <table class="agent-table enhanced">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(agent, index) in filteredAgents" :key="agent.email">
            <td>{{ agent.fullname }}</td>
            <td>{{ agent.email }}</td>
            <td>{{ agent.phone }}</td>
            <td>
              <span :class="['status-badge', agent.status.toLowerCase()]">
                {{ agent.status }}
              </span>
            </td>
            <td class="actions-cell">
              <button
                class="icon-btn edit-btn"
                @click="viewDetails(agent)"
                aria-label="Edit agent"
              >
                <svg class="icon edit-icon" viewBox="0 0 24 24">
                  <path
                    d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                  />
                </svg>
              </button>
              <button
                class="icon-btn delete-btn"
                @click="deleteAgent(index)"
                aria-label="Delete agent"
              >
                <svg class="icon delete-icon" viewBox="0 0 24 24">
                  <path
                    d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
                  />
                </svg>
              </button>
            </td>
          </tr>
          <tr v-if="!filteredAgents.length">
            <td colspan="5" class="empty-state">
              <svg class="empty-icon" viewBox="0 0 24 24">
                <path
                  d="M12 6c-3.79 0-7.17 2.13-8.82 5.5C4.83 14.37 8.21 17 12 17s7.17-2.63 8.82-5.5C19.17 8.13 15.79 6 12 6zm0 9c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"
                />
              </svg>
              <p>No agents found</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <transition name="modal-fade">
      <div v-if="showModal" class="modal-overlay" @click.self="closeModal">
        <div
          class="modal"
          role="dialog"
          aria-labelledby="modalTitle"
          aria-describedby="modalDescription"
        >
          <div class="modal-header">
            <h2 :id="modalTitle">
              {{ isEdit ? "Edit Agent" : "Add New Agent" }}
            </h2>
            <button
              class="close-btn"
              @click="closeModal"
              aria-label="Close modal"
            >
              <svg class="icon close-icon" viewBox="0 0 24 24">
                <path
                  d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z"
                />
              </svg>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-grid">
              <div class="form-group">
                <label for="fullname">Full Name *</label>
                <input
                  id="fullname"
                  v-model.trim="form.fullname"
                  :class="{ error: errors.fullname }"
                  @input="validateField('fullname')"
                  placeholder="Enter full name"
                  required
                />
                <span v-if="errors.fullname" class="error-message">{{
                  errors.fullname
                }}</span>
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input
                  id="email"
                  v-model.trim="form.email"
                  type="email"
                  :class="{ error: errors.email }"
                  @input="validateField('email')"
                  placeholder="Enter email"
                  required
                />
                <span v-if="errors.email" class="error-message">{{
                  errors.email
                }}</span>
              </div>
              <div class="form-group">
                <label for="phone">Phone *</label>
                <input
                  id="phone"
                  v-model.trim="form.phone"
                  type="tel"
                  :class="{ error: errors.phone }"
                  @input="validateField('phone')"
                  placeholder="Enter phone number"
                  required
                />
                <span v-if="errors.phone" class="error-message">{{
                  errors.phone
                }}</span>
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select id="status" v-model="form.status" class="status-select">
                  <option value="Active">Active</option>
                  <option value="Inactive">Inactive</option>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn secondary" @click="closeModal">Cancel</button>
            <button class="btn primary" @click="saveAgent">
              {{ isEdit ? "Update" : "Save" }}
            </button>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: "AgentListing",
  data() {
    return {
      showModal: false,
      isEdit: false,
      editIndex: null,
      searchQuery: "",
      form: this.getEmptyForm(),
      errors: {
        fullname: null,
        email: null,
        phone: null,
      },
    };
  },
  computed: {
    agents: {
      get() {
        return JSON.parse(localStorage.getItem("agents")) || [];
      },
      set(newAgents) {
        const agentsWithIds = newAgents.map((agent) => {
          if (!agent.id) {
            return { ...agent, id: this.generateNewAgentId() };
          }
          return agent;
        });

        localStorage.setItem("agents", JSON.stringify(agentsWithIds));
      },
    },
    filteredAgents() {
      const query = this.searchQuery.toLowerCase();
      return this.agents.filter(
        (agent) =>
          agent.fullname.toLowerCase().includes(query) ||
          agent.email.toLowerCase().includes(query) ||
          agent.phone.includes(query)
      );
    },
  },
  methods: {
    generateNewAgentId() {
      const agents = JSON.parse(localStorage.getItem("agents")) || [];
      let newNum = 1;

      if (agents.length > 0) {
        const existingIds = agents
          .map((a) => a.id)
          .filter((id) => id && id.startsWith("SOF"))
          .map((id) => parseInt(id.substring(3)))
          .sort((a, b) => b - a);

        if (existingIds.length > 0) {
          newNum = existingIds[0] + 1;
        }
      }

      return "SOF" + newNum.toString().padStart(6, "0");
    },
    viewDetails(agent) {
      this.$router.push({ name: "AgentDetails", params: { id: agent.id } });
    },
    getEmptyForm() {
      return { fullname: "", email: "", phone: "", status: "Active" };
    },
    openModal(agent, index) {
      this.isEdit = !!agent;
      this.editIndex = index;
      this.form = agent ? { ...agent } : this.getEmptyForm();
      this.errors = { fullname: null, email: null, phone: null };
      this.showModal = true;
      this.$nextTick(() => document.querySelector("input")?.focus());
    },
    closeModal() {
      this.showModal = false;
      this.form = this.getEmptyForm();
      this.errors = { fullname: null, email: null, phone: null };
    },
    async saveAgent() {
      if (!this.validateForm()) return;

      const updatedAgents = [...this.agents];
      if (this.isEdit) {
        updatedAgents[this.editIndex] = { ...this.form };
      } else {
        updatedAgents.push({ ...this.form });
      }

      this.agents = updatedAgents;
      this.closeModal();
    },
    deleteAgent(index) {
      if (confirm("Are you sure you want to delete this agent?")) {
        this.agents = this.agents.filter((_, i) => i !== index);
      }
    },
    validateForm() {
      let isValid = true;

      if (!this.form.fullname.trim()) {
        this.errors.fullname = "Full name is required";
        isValid = false;
      }

      if (!this.validateEmail(this.form.email)) {
        this.errors.email = "Invalid email format";
        isValid = false;
      }

      if (!this.validatePhone(this.form.phone)) {
        this.errors.phone = "Invalid phone number (10-15 digits)";
        isValid = false;
      }

      return isValid;
    },
    validateField(field) {
      switch (field) {
        case "fullname":
          this.errors.fullname = this.form.fullname.trim()
            ? null
            : "Full name is required";
          break;
        case "email":
          this.errors.email = this.validateEmail(this.form.email)
            ? null
            : "Invalid email format";
          break;
        case "phone":
          this.errors.phone = this.validatePhone(this.form.phone)
            ? null
            : "Invalid phone number";
          break;
      }
    },
    validateEmail(email) {
      return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
    },
    validatePhone(phone) {
      return /^\d{10,15}$/.test(phone);
    },
  },
};
</script>

<style>
/* Base Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.main-title {
  color: #2c3e50;
  font-size: 2.5rem;
  margin: 0;
}

/* Table Styles */
.table-wrapper {
  overflow-x: auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.agent-table.enhanced {
  width: 100%;
  border-collapse: collapse;
  min-width: 800px;
}

.agent-table.enhanced th {
  background: #f5f5f5;
  color: #333;
  font-weight: 600;
  padding: 1.25rem;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.agent-table.enhanced td {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.agent-table.enhanced tr:hover {
  background-color: #f8f9fa;
}

.status-badge {
  padding: 0.375rem 0.75rem;
  border-radius: 12px;
  font-size: 0.875rem;
  font-weight: 600;
}

.status-badge.active {
  background-color: #d4edda;
  color: #155724;
}

.status-badge.inactive {
  background-color: #f8d7da;
  color: #721c24;
}

.actions-cell {
  display: flex;
  gap: 0.5rem;
}

/* Buttons */
.fab {
  background: #4caf50;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.fab:hover {
  transform: translateY(-2px);
}

.icon-btn {
  background: transparent;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.icon-btn:hover {
  background: #f0f0f0;
}

.icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.edit-icon {
  color: #2196f3;
}
.delete-icon {
  color: #f44336;
}
.plus-icon {
  width: 24px;
  height: 24px;
}

/* Modal Styles */
.modal-fade-enter-active,
.modal-fade-leave-active {
  transition: opacity 0.3s;
}
.modal-fade-enter,
.modal-fade-leave-to {
  opacity: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 1.5rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  padding: 1.5rem;
}

.modal-footer {
  padding: 1.5rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
  gap: 0.75rem;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.form-group input.error {
  border-color: #ff4444;
}

.error-message {
  color: #ff4444;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .agent-table.enhanced {
    min-width: 600px;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }

  .header-section {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .agent-table.enhanced {
    min-width: 100%;
  }

  .search-container {
    margin-bottom: 1rem;
  }
}

/* Empty State */
.empty-state {
  text-align: center;
  padding: 2rem;
  color: #6c757d;
}

.empty-icon {
  width: 48px;
  height: 48px;
  fill: #6c757d;
  margin-bottom: 1rem;
}

/* Buttons */
.btn {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  transition: background 0.2s;
}

.btn.primary {
  background: #4caf50;
  color: white;
}

.btn.secondary {
  background: #e0e0e0;
  color: #333;
}

.btn.primary:hover {
  background: #45a049;
}

.btn.secondary:hover {
  background: #d4d4d4;
}

.close-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: -0.5rem;
}

.close-btn:hover .close-icon {
  fill: #6c757d;
}

/* Search Input */
.search-input {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-bottom: 1.5rem;
  transition: border-color 0.2s;
}

.search-input:focus {
  border-color: #4caf50;
  outline: none;
}
</style>
