<template>
  <div class="booking-page">
    <div class="page-header">
      <h1>{{ pageTitle }}</h1>
      <button @click="openBookingModal" class="btn btn-primary">
        Tambah Tempahan
      </button>
    </div>

    <div v-if="enableSearch" class="search-filter-section">
      <input v-model="searchQuery" placeholder="Cari pelanggan..." />
      <select v-model="filterStatus">
        <option value="">Semua Status</option>
        <option value="Pending">Pending</option>
        <option value="Confirmed">Confirmed</option>
        <option value="Canceled">Canceled</option>
      </select>
    </div>

    <div v-if="packages.length === 0" class="empty-state">
      <p>Tiada pakej umrah tersedia. Sila tambah pakej terlebih dahulu.</p>
    </div>

    <div v-else>
      <div class="booking-list-section">
        <div class="booking-list-container">
          <table>
            <thead>
              <tr>
                <th>Pakej</th>
                <th>Pelanggan</th>
                <th>Email</th>
                <th>Telefon</th>
                <th>Ejen</th>
                <th>Status</th>
                <th>Tindakan</th>
              </tr>
            </thead>
            <tbody>
              <template v-if="bookings.length > 0">
                <tr v-for="booking in filteredBookings" :key="booking.id">
                  <td>{{ getPackageName(booking.packageId) }}</td>
                  <td>{{ booking.customerName }}</td>
                  <td>{{ booking.customerEmail }}</td>
                  <td>{{ booking.customerPhone }}</td>
                  <td>{{ getAgentName(booking.agentId) }}</td>
                  <td>{{ booking.status }}</td>
                  <td>
                    <div class="action-buttons">
                      <button
                        v-if="isPending(booking.status)"
                        @click="confirmBooking(booking.id)"
                        class="btn btn-success"
                      >
                        Sahkan
                      </button>
                      <button
                        v-if="isCancelable(booking.status)"
                        @click="cancelBooking(booking.id)"
                        class="btn btn-danger"
                      >
                        Batal
                      </button>
                    </div>
                  </td>
                </tr>
              </template>
              <template v-else>
                <tr class="empty-state">
                  <td colspan="7" class="text-center">
                    <div class="empty-state-container">
                      <div class="empty-state-content">
                        <div class="empty-state-icon">
                          <i class="fas fa-box-open"></i>
                        </div>
                        <p class="empty-state-message">
                          Tiada tempahan tersedia.
                        </p>
                        <p class="empty-state-submessage">
                          Mulakan dengan menambah pakej baru.
                        </p>
                      </div>
                    </div>
                  </td>
                </tr>
              </template>
            </tbody>
          </table>
        </div>

        <div v-if="enablePagination && bookings.length > 0" class="pagination">
          <button
            @click="changePage(currentPage - 1)"
            :disabled="currentPage === 1"
          >
            Sebelumnya
          </button>
          <span>Halaman {{ currentPage }}</span>
          <button
            @click="changePage(currentPage + 1)"
            :disabled="currentPage * itemsPerPage >= bookings.length"
          >
            Seterusnya
          </button>
        </div>
      </div>

      <div v-if="waitingList.length > 0" class="waiting-list-section">
        <h2>Senarai Menunggu</h2>
        <div class="waiting-list-container">
          <table>
            <thead>
              <tr>
                <th>Pakej</th>
                <th>Pelanggan</th>
                <th>Email</th>
                <th>Telefon</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="waiting in waitingList" :key="waiting.id">
                <td>{{ getPackageName(waiting.packageId) }}</td>
                <td>{{ waiting.customerName }}</td>
                <td>{{ waiting.customerEmail }}</td>
                <td>{{ waiting.customerPhone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div v-if="isBookingModalOpen" class="modal-overlay">
      <div class="modal">
        <div class="modal-header">
          <h2>Tambah Tempahan Baru</h2>
          <button @click="closeBookingModal" class="btn btn-close">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <select v-model="selectedPackageId">
            <option value="" disabled>Pilih Pakej</option>
            <option v-for="pkg in packages" :key="pkg.id" :value="pkg.id">
              {{ pkg.name }} (Seats: {{ pkg.availableSeats }} /
              {{ pkg.totalSeats }})
            </option>
          </select>

          <select v-model="selectedCustomerId">
            <option value="" disabled>Pilih Pelanggan</option>
            <option
              v-for="customer in customers"
              :key="customer.id"
              :value="customer.id"
            >
              {{ customer.fullName }}
            </option>
          </select>

          <select v-model="agentId">
            <option value="" disabled>Pilih Ejen</option>
            <option v-for="agent in agents" :key="agent.id" :value="agent.id">
              {{ agent.name }}
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <button @click="createBooking" class="btn btn-primary">
            Buat Tempahan
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { paidVersion } from "@/data/config";
export default {
  name: "BookingPage",
  data() {
    return {
      pageTitle: "Senarai Tempahan",
      packages: [],
      selectedPackageId: "",
      selectedCustomerId: "", // Added for customer selection
      agentId: "",
      agents: [
        { id: "agent1", name: "Abu" },
        { id: "agent2", name: "Ali" },
      ],
      bookings: [],
      waitingList: [],
      isBookingModalOpen: false,
      customers: [], // To store customer data from localStorage

      enablePagination: paidVersion, // Set to true for paid version
      enableSearch: paidVersion, // Set to true for paid version
      searchQuery: "",
      filterStatus: "",
      currentPage: 1,
      itemsPerPage: 10,
    };
  },
  computed: {
    isPending() {
      return (status) => status === "Pending";
    },
    isCancelable() {
      return (status) => ["Pending", "Confirmed"].includes(status);
    },
    // Filtered Bookings (Paid Feature)
    filteredBookings() {
      let filtered = this.bookings;
      if (this.enableSearch) {
        filtered = filtered.filter((booking) => {
          const matchesSearch = booking.customerName
            .toLowerCase()
            .includes(this.searchQuery.toLowerCase());
          const matchesStatus = this.filterStatus
            ? booking.status === this.filterStatus
            : true;
          return matchesSearch && matchesStatus;
        });
      }
      if (this.enablePagination) {
        const start = (this.currentPage - 1) * this.itemsPerPage;
        const end = start + this.itemsPerPage;
        return filtered.slice(start, end);
      }
      return filtered;
    },
  },
  methods: {
    generateId() {
      return Date.now().toString(36) + Math.random().toString(36).substr(2);
    },
    loadPackages() {
      const savedPackages = localStorage.getItem("umrahPackages");
      if (savedPackages) {
        this.packages = JSON.parse(savedPackages);
      }
    },
    loadBookings() {
      const savedBookings = localStorage.getItem("umrahBookings");
      if (savedBookings) {
        this.bookings = JSON.parse(savedBookings);
      }
    },
    loadWaitingList() {
      const savedWaitingList = localStorage.getItem("umrahWaitingList");
      if (savedWaitingList) {
        this.waitingList = JSON.parse(savedWaitingList);
      }
    },
    loadCustomers() {
      // Load customers from localStorage
      const savedCustomers = localStorage.getItem("customers");
      if (savedCustomers) {
        this.customers = JSON.parse(savedCustomers);
      }
    },
    saveBookings() {
      localStorage.setItem("umrahBookings", JSON.stringify(this.bookings));
    },
    saveCustomers() {
      localStorage.setItem("customers", JSON.stringify(this.customers));
    },
    saveWaitingList() {
      localStorage.setItem(
        "umrahWaitingList",
        JSON.stringify(this.waitingList)
      );
    },
    createBooking() {
      const selectedPackage = this.packages.find(
        (pkg) => pkg.id === this.selectedPackageId
      );
      const selectedCustomer = this.customers.find(
        (customer) => customer.id === this.selectedCustomerId
      );

      if (
        selectedPackage &&
        selectedPackage.availableSeats > 0 &&
        selectedCustomer
      ) {
        const newBooking = {
          id: this.generateId(),
          packageId: this.selectedPackageId,
          customerId: this.selectedCustomerId,
          customerName: selectedCustomer.fullName,
          customerEmail: selectedCustomer.email,
          customerPhone: selectedCustomer.phone,
          agentId: this.agentId,
          status: "Pending",
        };

        this.bookings.push(newBooking);
        selectedPackage.availableSeats--;
        this.saveBookings();
        localStorage.setItem("umrahPackages", JSON.stringify(this.packages));

        // Update customer's booking history
        selectedCustomer.bookingHistory.push(newBooking);
        this.saveCustomers(); // Save the updated customer data

        this.resetForm();
        this.closeBookingModal();
      } else {
        const waitingItem = {
          id: this.generateId(),
          packageId: this.selectedPackageId,
          customerId: this.selectedCustomerId,
          customerName: selectedCustomer.fullName,
          customerEmail: selectedCustomer.email,
          customerPhone: selectedCustomer.phone,
        };

        this.waitingList.push(waitingItem);
        this.saveWaitingList();
        this.resetForm();
        this.closeBookingModal();
      }
    },
    confirmBooking(id) {
      const booking = this.bookings.find((b) => b.id === id);
      if (booking) {
        booking.status = "Confirmed";
        this.saveBookings();
      }
    },
    cancelBooking(id) {
      const booking = this.bookings.find((b) => b.id === id);
      if (booking) {
        booking.status = "Canceled";
        const selectedPackage = this.packages.find(
          (pkg) => pkg.id === booking.packageId
        );
        if (selectedPackage) {
          selectedPackage.availableSeats++;
          localStorage.setItem("umrahPackages", JSON.stringify(this.packages));
        }
        this.saveBookings();
      }
    },
    getPackageName(packageId) {
      const pkg = this.packages.find((p) => p.id === packageId);
      return pkg ? pkg.name : "Pakej Tidak Ditemui";
    },
    getAgentName(agentId) {
      const agent = this.agents.find((a) => a.id === agentId);
      return agent ? agent.name : "Ejen Tidak Ditemui";
    },
    resetForm() {
      this.selectedPackageId = "";
      this.selectedCustomerId = ""; // Reset customer selection
      this.agentId = "";
    },
    openBookingModal() {
      this.isBookingModalOpen = true;
    },
    closeBookingModal() {
      this.isBookingModalOpen = false;
      this.resetForm();
    },
    // Pagination (Paid Feature)
    changePage(page) {
      this.currentPage = page;
    },
  },
  mounted() {
    this.loadPackages();
    this.loadBookings();
    this.loadWaitingList();
    this.loadCustomers(); // Load customers on component mount
  },
};
</script>

<style scoped>
.booking-page {
  padding: 20px;
  font-family: sans-serif;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.action-buttons {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.btn-success {
  background-color: #28a745;
  color: white;
}

.btn-success:hover {
  background-color: #1e7e34;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.empty-state {
  text-align: center;
  color: #777;
  padding: 20px;
  border: 1px dashed #ddd;
  border-radius: 8px;
}

.booking-list-section,
.waiting-list-section {
  margin-bottom: 20px;
}

.booking-list-container,
.waiting-list-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px;
  max-width: 90%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal-body {
  margin-bottom: 15px;
}

.modal-body select,
.modal-body input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.modal-footer {
  text-align: right;
}

.search-filter-section {
  margin-bottom: 20px;
}

.search-filter-section input,
.search-filter-section select {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination button {
  margin: 0 5px;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.pagination button:disabled {
  background-color: #f2f2f2;
  cursor: not-allowed;
}
.empty-state {
  height: 200px;
}

.empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.empty-state-content {
  text-align: center;
}

.empty-state-icon {
  font-size: 3rem;
  color: #bbb;
  margin-bottom: 15px;
}

.empty-state-message {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 5px;
}

.empty-state-submessage {
  font-size: 0.9rem;
  color: #888;
}
</style>
