<template>
  <div class="customer-page">
    <h1>{{ pageTitle }}</h1>

    <div class="customer-form">
      <h2>Profil Pelanggan</h2>
      <form @submit.prevent="saveCustomer">
        <label for="fullName">Nama Penuh:</label>
        <input v-model="customer.fullName" type="text" id="fullName" required />

        <label for="idNumber">Nombor Kad Pengenalan/Pasport:</label>
        <input v-model="customer.idNumber" type="text" id="idNumber" required />

        <label for="address">Alamat:</label>
        <input v-model="customer.address" type="text" id="address" />

        <label for="phone">Nombor Telefon:</label>
        <input v-model="customer.phone" type="tel" id="phone" />

        <label for="email">Alamat Emel:</label>
        <input v-model="customer.email" type="email" id="email" />

        <label for="dob">Tarikh Lahir:</label>
        <input v-model="customer.dob" type="date" id="dob" />

        <label for="gender">Jantina:</label>
        <select v-model="customer.gender" id="gender">
          <option value="">Pilih Jantina</option>
          <option value="Lelaki">Lelaki</option>
          <option value="Perempuan">Perempuan</option>
        </select>

        <label for="medicalInfo">Maklumat Perubatan:</label>
        <textarea v-model="customer.medicalInfo" id="medicalInfo"></textarea>

        <label for="notes">Nota/Komen:</label>
        <textarea v-model="customer.notes" id="notes"></textarea>

        <button type="submit">Simpan</button>
      </form>
    </div>

    <div class="document-section">
      <h2>Pengurusan Dokumen</h2>
      <input type="file" @change="handleFileUpload" multiple />
      <button @click="uploadDocuments">Muat Naik Dokumen</button>
      <div v-if="customer.documents && customer.documents.length > 0">
        <h3>Dokumen Dimuat Naik:</h3>
        <ul>
          <li v-for="(doc, index) in customer.documents" :key="index">
            {{ doc.name }}
            <button @click="downloadDocument(doc)">Muat Turun</button>
            <button @click="deleteDocument(index)">Padam</button>
          </li>
        </ul>
      </div>
    </div>

    <div class="booking-history">
      <h2>Sejarah Tempahan</h2>
      <table>
        <thead>
          <tr>
            <th>Nama Pakej</th>
            <th>Tarikh Berlepas</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(booking, index) in customer.bookingHistory" :key="index">
            <td>{{ getPackageName(booking.packageId) }}</td>
            <td>{{ booking.departureDate || "Tidak Dinyatakan" }}</td>
            <td>{{ booking.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomerDetailPage",
  data() {
    return {
      pageTitle: "Maklumat Pelanggan",
      customer: {
        fullName: "",
        idNumber: "",
        address: "",
        phone: "",
        email: "",
        dob: "",
        gender: "",
        medicalInfo: "",
        notes: "",
        documents: [],
        bookingHistory: [],
      },
      selectedFiles: [],
    };
  },
  mounted() {
    this.loadCustomer();
  },
  methods: {
    saveCustomer() {
      const customerId = `customer_${this.$route.params.id}`;
      localStorage.setItem(customerId, JSON.stringify(this.customer));
      alert("Profil pelanggan berjaya disimpan!");
    },
    handleFileUpload(event) {
      this.selectedFiles = Array.from(event.target.files);
    },
    uploadDocuments() {
      if (this.selectedFiles.length > 0) {
        this.selectedFiles.forEach((file) => {
          const reader = new FileReader();
          reader.onload = () => {
            this.customer.documents.push({
              name: file.name,
              content: reader.result,
            });
          };
          reader.readAsDataURL(file);
        });
        this.selectedFiles = [];
        alert("Dokumen berjaya dimuat naik!");
      } else {
        alert("Sila pilih fail terlebih dahulu.");
      }
    },
    downloadDocument(doc) {
      const link = document.createElement("a");
      link.href = doc.content;
      link.download = doc.name;
      link.click();
    },
    deleteDocument(index) {
      this.customer.documents.splice(index, 1);
      alert("Dokumen berjaya dipadam!");
    },
    getPackageName(packageId) {
      const savedPackages = localStorage.getItem("umrahPackages");
      if (savedPackages) {
        const packagesArray = JSON.parse(savedPackages);
        const pkg = packagesArray.find((p) => p.id === packageId);
        return pkg ? pkg.name : "Pakej Tidak Ditemui";
      }
      return "Pakej Tidak Ditemui";
    },
    loadCustomer() {
      const customerId = this.$route.params.id;
      const savedCustomers = localStorage.getItem("customers");

      if (savedCustomers) {
        const customersArray = JSON.parse(savedCustomers);
        const parsedCustomer = customersArray.find((c) => c.id === customerId);

        if (parsedCustomer) {
          this.customer = { ...parsedCustomer }; // Use the spread operator to copy the object
        } else {
          console.error("Customer not found in localStorage");
        }
      } else {
        console.error("No customer data found in localStorage");
      }
    },
  },
};
</script>

<style scoped>
.customer-page {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.customer-form,
.document-section,
.booking-history {
  margin-bottom: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input,
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  background-color: #0056b3;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
</style>
