<template>
  <div class="customer-list-page">
    <div class="header-row">
      <h1>Senarai Jemaah</h1>
      <button @click="showAddCustomerForm" class="add-customer-btn">
        Tambah Jemaah
      </button>
    </div>

    <!-- Add Customer Form (Modal) -->
    <div v-if="isAddingCustomer" class="modal" @click.self="cancelAddCustomer">
      <div class="modal-content">
        <button class="close-btn" @click="cancelAddCustomer">×</button>
        <h3>Tambah Jemaah</h3>

        <form @submit.prevent="addCustomer" class="modal-form">
          <div class="form-group">
            <label>Nama Penuh:</label>
            <input
              type="text"
              v-model="newCustomer.fullName"
              autocomplete="name"
              required
              class="form-input"
            />
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>No. Pengenalan/Pasport:</label>
              <input
                type="text"
                v-model="newCustomer.idNumber"
                autocomplete="off"
                required
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Telefon:</label>
              <input
                type="tel"
                v-model="newCustomer.phone"
                autocomplete="tel"
                required
                class="form-input"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Emel:</label>
            <input
              type="email"
              v-model="newCustomer.email"
              autocomplete="email"
              required
              class="form-input"
            />
          </div>

          <div class="form-group">
            <label>Alamat:</label>
            <textarea
              v-model="newCustomer.address"
              autocomplete="street-address"
              class="form-input"
            ></textarea>
          </div>

          <div class="form-row">
            <div class="form-group">
              <label>Tarikh Lahir:</label>
              <input
                type="date"
                v-model="newCustomer.dob"
                autocomplete="bday"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Tarikh Daftar:</label>
              <input
                type="date"
                v-model="newCustomer.registrationDate"
                required
                class="form-input"
              />
            </div>
          </div>

          <div class="form-group">
            <label>Jantina:</label>
            <select
              v-model="newCustomer.gender"
              autocomplete="sex"
              class="form-input"
            >
              <option value="Lelaki">Lelaki</option>
              <option value="Perempuan">Perempuan</option>
            </select>
          </div>

          <div class="form-group">
            <label>Maklumat Perubatan:</label>
            <textarea
              v-model="newCustomer.medicalInfo"
              class="form-input"
            ></textarea>
          </div>

          <div class="form-group">
            <label>Nota:</label>
            <textarea v-model="newCustomer.notes" class="form-input"></textarea>
          </div>

          <div class="form-group">
            <label>Dokumen:</label>
            <input
              type="file"
              @change="handleFileUpload"
              multiple
              class="form-input"
            />
          </div>

          <h4>Maklumat Kecemasan</h4>
          <div class="form-row">
            <div class="form-group">
              <label>Nama:</label>
              <input
                type="text"
                v-model="newCustomer.emergencyContact.name"
                autocomplete="name"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Telefon:</label>
              <input
                type="tel"
                v-model="newCustomer.emergencyContact.phone"
                autocomplete="tel"
                class="form-input"
              />
            </div>
            <div class="form-group">
              <label>Hubungan:</label>
              <input
                type="text"
                v-model="newCustomer.emergencyContact.relation"
                class="form-input"
              />
            </div>
          </div>

          <div class="modal-actions">
            <button type="submit" class="btn btn-primary">Simpan</button>
            <button
              type="button"
              class="btn btn-secondary"
              @click="cancelAddCustomer"
            >
              Batal
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- Filters (Paid Version Only) -->
    <div v-if="isPaidVersion" class="filters">
      <label>Tarikh Pendaftaran:</label>
      <input type="date" v-model="filters.startDate" class="filter-input" />
      <input type="date" v-model="filters.endDate" class="filter-input" />

      <label>Jumlah Tempahan:</label>
      <select v-model="filters.orderFilter" class="filter-input">
        <option value="">Semua</option>
        <option value="greater">Lebih Besar Dari</option>
        <option value="less">Kurang Dari</option>
        <option value="equal">Sama Dengan</option>
      </select>
      <input
        type="number"
        v-model="filters.orderValue"
        placeholder="Nilai"
        class="filter-input"
      />

      <label>Status:</label>
      <select v-model="filters.status" class="filter-input">
        <option value="">Semua</option>
        <option value="Aktif">Aktif</option>
        <option value="Tidak Aktif">Tidak Aktif</option>
      </select>
    </div>

    <!-- Search (Paid Version Only) -->
    <div v-if="isPaidVersion" class="search-pagination">
      <input
        type="text"
        v-model="searchQuery"
        placeholder="Cari..."
        @input="applySearch"
        class="search-input"
      />
    </div>

    <!-- Customer Table -->
    <table class="customer-table">
      <thead>
        <tr>
          <th @click="sortTable('fullName')">Nama Penuh</th>
          <th>No. Pengenalan/Pasport</th>
          <th>Telefon</th>
          <th>Emel</th>
          <th @click="sortTable('registrationDate')">Tarikh Daftar</th>
          <th>Status</th>
          <th>Tindakan</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="customer in displayedCustomers" :key="customer.id">
          <td>{{ customer.fullName }}</td>
          <td>{{ customer.idNumber }}</td>
          <td>{{ customer.phone }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.registrationDate }}</td>
          <td>
            <span :class="`status-${customer.status.toLowerCase()}`">
              {{ customer.status }}
            </span>
          </td>
          <td>
            <button
              @click="viewDetails(customer.id)"
              class="btn-action btn-view"
            >
              Lihat
            </button>
            <button
              @click="editCustomer(customer.id)"
              class="btn-action btn-edit"
            >
              Edit
            </button>
            <button
              @click="deleteCustomer(customer.id)"
              class="btn-action btn-delete"
            >
              Padam
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination (Paid Version Only) -->
    <div
      v-if="isPaidVersion && filteredCustomers.length > 0"
      class="pagination"
    >
      <button
        :disabled="currentPage === 1"
        @click="currentPage--"
        class="btn-pagination"
      >
        Sebelum
      </button>
      <span>Halaman {{ currentPage }} / {{ totalPages }}</span>
      <button
        :disabled="currentPage >= totalPages"
        @click="currentPage++"
        class="btn-pagination"
      >
        Seterusnya
      </button>
    </div>

    <!-- Loading State -->
    <div v-if="loading" class="loading">Memuat data...</div>

    <!-- No Data State -->
    <div v-else-if="filteredCustomers.length === 0" class="no-data">
      Tiada data Jemaah.
    </div>

    <!-- Export Button (Paid Version Only) -->
    <div v-if="isPaidVersion" class="export-section">
      <button @click="exportToCSV" class="btn-export">Eksport ke CSV</button>
    </div>
  </div>
</template>

<script>
import { paidVersion } from "@/data/config";

export default {
  name: "CustomerListPage",
  data() {
    return {
      isPaidVersion: paidVersion, // Set to `true` for paid version
      customers: [],
      filteredCustomers: [],
      currentPage: 1,
      customersPerPage: 5,
      searchQuery: "",
      filters: {
        startDate: "",
        endDate: "",
        orderFilter: "",
        orderValue: null,
        status: "",
      },
      loading: true,
      sortField: "",
      sortOrder: "asc",
      isAddingCustomer: false,
      newCustomer: this.getDefaultCustomer(),
    };
  },
  computed: {
    // Calculate total pages
    totalPages() {
      return Math.ceil(this.filteredCustomers.length / this.customersPerPage);
    },
    // Display customers based on pagination
    displayedCustomers() {
      const start = (this.currentPage - 1) * this.customersPerPage;
      const end = start + this.customersPerPage;
      return this.filteredCustomers.slice(start, end);
    },
  },
  mounted() {
    this.loadCustomers();
  },
  watch: {
    searchQuery: "applySearch",
    filters: {
      handler: "applyFilters",
      deep: true,
    },
    currentPage: "paginateCustomers",
  },
  methods: {
    getDefaultCustomer() {
      return {
        id: Date.now().toString(36) + Math.random().toString(36).substring(2),
        fullName: "",
        idNumber: "",
        phone: "",
        email: "",
        address: "",
        dob: "",
        registrationDate: new Date().toISOString().split("T")[0], // Defaults to today
        gender: "",
        medicalInfo: "",
        notes: "",
        documents: [],
        emergencyContact: {
          name: "",
          phone: "",
          relation: "",
        },
        paymentStatus: "Belum Bayar",
        packageSelected: "",
        departureDate: null, // Use null for clarity
        returnDate: null,
        status: "Aktif",
        bookingHistory: [],
      };
    },

    showAddCustomerForm() {
      this.newCustomer = this.getDefaultCustomer(); // Reuse the function
      this.isAddingCustomer = true;
    },

    addCustomer() {
      this.customers.push({ ...this.newCustomer });
      localStorage.setItem("customers", JSON.stringify(this.customers));
      this.cancelAddCustomer();
      this.loadCustomers();
    },

    loadCustomers() {
      this.loading = true;
      try {
        const storedCustomers = localStorage.getItem("customers");
        this.customers = storedCustomers ? JSON.parse(storedCustomers) : [];
        this.filteredCustomers = [...this.customers]; // Initialize filteredCustomers
        this.applyFilters(); // Apply filters after loading
        this.applySearch(); // Apply search after loading
        this.paginateCustomers(); // Paginate after loading
      } catch (error) {
        console.error("Error loading customers:", error);
      } finally {
        this.loading = false;
      }
    },

    applyFilters() {
      let filtered = this.customers;

      // Filter by date range
      if (this.filters.startDate) {
        filtered = filtered.filter(
          (customer) =>
            new Date(customer.registrationDate) >=
            new Date(this.filters.startDate)
        );
      }
      if (this.filters.endDate) {
        filtered = filtered.filter(
          (customer) =>
            new Date(customer.registrationDate) <=
            new Date(this.filters.endDate)
        );
      }

      // Filter by order amount
      if (this.filters.orderFilter && this.filters.orderValue !== null) {
        const orderValue = parseFloat(this.filters.orderValue);
        switch (this.filters.orderFilter) {
          case "greater":
            filtered = filtered.filter(
              (customer) => customer.bookingCount > orderValue
            );
            break;
          case "less":
            filtered = filtered.filter(
              (customer) => customer.bookingCount < orderValue
            );
            break;
          case "equal":
            filtered = filtered.filter(
              (customer) => customer.bookingCount === orderValue
            );
            break;
        }
      }

      // Filter by status
      if (this.filters.status) {
        filtered = filtered.filter(
          (customer) => customer.status === this.filters.status
        );
      }

      this.filteredCustomers = filtered;
      this.currentPage = 1; // Reset to first page after filtering
    },

    applySearch() {
      if (this.searchQuery) {
        const query = this.searchQuery.toLowerCase();
        this.filteredCustomers = this.filteredCustomers.filter((customer) => {
          return (
            customer.fullName.toLowerCase().includes(query) ||
            customer.idNumber.toLowerCase().includes(query) ||
            customer.phone.toLowerCase().includes(query) ||
            customer.email.toLowerCase().includes(query)
          );
        });
      } else {
        this.filteredCustomers = [...this.customers]; // Reset to all customers if no search query
      }
      this.currentPage = 1; // Reset to first page after searching
    },

    paginateCustomers() {
      // No need to manually update displayedCustomers as it's computed
    },

    sortTable(field) {
      if (this.sortField === field) {
        this.sortOrder = this.sortOrder === "asc" ? "desc" : "asc";
      } else {
        this.sortField = field;
        this.sortOrder = "asc";
      }

      this.filteredCustomers.sort((a, b) => {
        let modifier = this.sortOrder === "asc" ? 1 : -1;
        if (a[field] < b[field]) return -1 * modifier;
        if (a[field] > b[field]) return 1 * modifier;
        return 0;
      });
    },

    viewDetails(customerId) {
      console.log("Lihat detail Jemaah:", customerId);
      this.$router.push({ name: "CustomerDetail", params: { id: customerId } });
    },

    editCustomer(customerId) {
      console.log("Edit Jemaah:", customerId);
    },

    deleteCustomer(customerId) {
      this.customers = this.customers.filter(
        (customer) => customer.id !== customerId
      );
      localStorage.setItem("customers", JSON.stringify(this.customers));
      this.loadCustomers();
    },

    cancelAddCustomer() {
      this.isAddingCustomer = false;
    },

    exportToCSV() {
      if (!this.isPaidVersion) {
        alert("Fitur ini hanya tersedia untuk versi berbayar.");
        return;
      }

      const csvContent =
        "data:text/csv;charset=utf-8," +
        [
          Object.keys(this.customers[0]).join(","),
          ...this.customers.map((customer) =>
            Object.values(customer).join(",")
          ),
        ].join("\n");

      const encodedUri = encodeURI(csvContent);
      const link = document.createElement("a");
      link.setAttribute("href", encodedUri);
      link.setAttribute("download", "Jemaah.csv");
      document.body.appendChild(link);
      link.click();
    },
  },
};
</script>

<style scoped>
/* Global Styles */
.customer-list-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.add-customer-btn {
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.add-customer-btn:hover {
  background-color: #16a085;
}

/* Modal Styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 95%;
  max-width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-row {
  display: flex;
  gap: 15px;
}

.form-row .form-group {
  flex: 1;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s ease;
}

.form-input:focus {
  border-color: #1abc9c;
  outline: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 15px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #1abc9c;
  color: white;
}

.btn-primary:hover {
  background-color: #16a085;
}

.btn-secondary {
  background-color: #dc3545;
  color: white;
}

.btn-secondary:hover {
  background-color: #c82333;
}

/* Table Styles */
.customer-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customer-table th,
.customer-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.customer-table th {
  background-color: gray;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customer-table th:hover {
  background-color: gray;
}

.customer-table tbody tr {
  transition: background-color 0.3s ease;
}

.customer-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.customer-table tbody tr:hover {
  background-color: #f1f1f1;
}

/* Status Styles */
.status-aktif {
  color: #28a745;
  font-weight: bold;
}

.status-tidak-aktif {
  color: #dc3545;
  font-weight: bold;
}

.status-paid {
  color: #28a745;
  font-weight: bold;
}

.status-pending {
  color: #ffc107;
  font-weight: bold;
}

.status-canceled {
  color: #dc3545;
  font-weight: bold;
}

/* Action Buttons */
.btn-action {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
  margin-right: 5px;
}

.btn-view {
  background-color: #007bff;
  color: white;
}

.btn-view:hover {
  background-color: #0056b3;
}

.btn-edit {
  background-color: #ffc107;
  color: black;
}

.btn-edit:hover {
  background-color: #e0a800;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-pagination {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pagination:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.btn-pagination:hover:not(:disabled) {
  background-color: #1abc9c;
  color: white;
}

/* Loading and No Data Styles */
.loading,
.no-data {
  text-align: center;
  padding: 20px;
  font-style: italic;
  color: #888;
}

/* Export Button Styles */
.export-section {
  text-align: right;
  margin-top: 20px;
}

.btn-export {
  padding: 10px 20px;
  background-color: #1abc9c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.btn-export:hover {
  background-color: #16a085;
}
</style>
