<template>
  <div class="destination-card">
    <h1>{{ pageTitle }}</h1>
    <!-- Other content related to destination list -->
  </div>
</template>

<script>
export default {
  name: 'DestinationList',
  data() {
    return {
      pageTitle: 'Discover Our Destinations', // Change the title for each view
    };
  },
  // Other logic or methods if needed
};
</script>

<style scoped>
.destination-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.destination-card h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

/* Add more component-specific styles as needed */
</style>
