<template>
  <div class="dashboard-container">
    <!-- Header Section -->
    <div class="header-section">
      <h1>Sofna Travel Management Dashboard</h1>
      <p>Selamat datang kembali! Berikut adalah ringkasan aktiviti terkini.</p>
    </div>

    <!-- Quick Stats Section -->
    <div class="quick-stats">
      <div class="stat-card">
        <div class="stat-icon">📊</div>
        <div class="stat-value">1,234</div>
        <div class="stat-label">Jumlah Jemaah</div>
      </div>
      <div class="stat-card">
        <div class="stat-icon">✈️</div>
        <div class="stat-value">56</div>
        <div class="stat-label">Pakej Aktif</div>
      </div>
      <div class="stat-card">
        <div class="stat-icon">💰</div>
        <div class="stat-value">RM 123,456</div>
        <div class="stat-label">Jumlah Pendapatan</div>
      </div>
      <div class="stat-card">
        <div class="stat-icon">📅</div>
        <div class="stat-value">12</div>
        <div class="stat-label">Tempahan Baru (Bulan Ini)</div>
      </div>
    </div>

    <!-- Charts Section -->
    <div class="charts-section">
      <div class="chart-card">
        <h3>Statistik Tempahan Bulanan</h3>
        <div class="chart-placeholder">📈 Carta akan dipaparkan di sini</div>
      </div>
      <div class="chart-card">
        <h3>Status Pembayaran</h3>
        <div class="chart-placeholder">📊 Carta akan dipaparkan di sini</div>
      </div>
    </div>

    <!-- Quick Actions Section -->
    <!-- <div class="quick-actions">
      <h3>Tindakan Pantas</h3>
      <div class="action-buttons">
        <button class="action-btn" @click="navigateTo('Customer')">
          📝 Tambah Jemaah
        </button>
        <button class="action-btn" @click="navigateTo('packages')">
          ✈️ Urus Pakej
        </button>
        <button class="action-btn" @click="navigateTo('bookings')">
          📅 Lihat Tempahan
        </button>
        <button class="action-btn" @click="navigateTo('payments')">
          💰 Urus Pembayaran
        </button>
      </div>
    </div> -->
  </div>
</template>

<script>
export default {
  methods: {
    navigateTo(route) {
      this.$router.push({ name: route, params: {  } });
    },
  },
};
</script>

<style scoped>
.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
}

.header-section {
  text-align: center;
  margin-bottom: 40px;
}

.header-section h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #2c3e50; /* Dark blue color for the heading */
}

.header-section p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

/* Quick Stats Section */
.quick-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.stat-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.stat-icon {
  font-size: 2em;
  margin-bottom: 10px;
}

.stat-value {
  font-size: 1.8em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 5px;
}

.stat-label {
  font-size: 1em;
  color: #666;
}

/* Charts Section */
.charts-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.chart-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-card h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #2c3e50;
}

.chart-placeholder {
  background: #f9f9f9;
  padding: 50px;
  text-align: center;
  border-radius: 5px;
  color: #888;
  font-size: 1.2em;
}

/* Quick Actions Section */
.quick-actions {
  margin-bottom: 40px;
}

.quick-actions h3 {
  font-size: 1.5em;
  margin-bottom: 15px;
  color: #2c3e50;
}

.action-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
}

.action-btn {
  background: #3498db;
  color: #fff;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.action-btn:hover {
  background: #2980b9;
}
</style>
