<template>
  <div class="login-container">
    <div class="login-card">
      <h2 class="login-title">Login</h2>
      <div class="input-group">
        <input ref="usernameInput"  v-model="username" type="text" placeholder="Username" class="input-field" />
      </div>
      <div class="input-group">
        <input v-model="password" type="password" placeholder="Password" class="input-field" />
      </div>
      <button @click="login" class="login-button">Login</button>
      <p v-if="error" class="error-message">{{ error }}</p>
    </div>
  </div>
</template>

<script setup>
import { ref, onMounted, inject } from "vue";
import { users } from "../data/users"; // Assuming you have your users data here
import { useRouter } from "vue-router";

const isLoggedInReactive = inject("isLoggedInReactive");
const username = ref("");
const password = ref("");
const error = ref("");
const router = useRouter();
const usernameInput = ref(null);

const login = () => {
  const user = users.find(
    (u) => u.username === username.value && u.password === password.value
  );

  if (user) {
    localStorage.setItem("user", true);
    localStorage.setItem("userRole", user.role);
    isLoggedInReactive.value = true;

    router.push("/");
  } else {
    error.value = "Incorrect username or password. Please try again.";
  }
};

onMounted(() => {
  usernameInput.value.focus();
});
</script>

<style scoped>
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensure full viewport height */
  background-color: #f4f7f9; /* Light background */
}

.login-card {
  width: 350px;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.login-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.8rem;
  color: #333;
}

.input-group {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  outline: none;
  border-color: #007bff;
}

.login-button {
  width: 100%;
  padding: 12px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #d9534f;
  margin-top: 15px;
  text-align: center;
}
</style>