<template>
  <div class="packages-page">
    <h1 class="page-title">Pengurusan Pakej Umrah</h1>

    <!-- Form: Tambah / Edit Pakej -->
    <div class="form-container">
      <h2 class="section-title">
        {{ editingIndex === null ? "Tambah Pakej" : "Edit Pakej" }}
      </h2>
      <form @submit.prevent="savePackage" class="form-grid">
        <div class="input-group">
          <label>Nama Pakej</label>
          <input
            v-model="newPackage.name"
            type="text"
            placeholder="Contoh: Pakej Ekonomi"
            required
          />
        </div>

        <div class="input-group">
          <label>Hotel</label>
          <input
            v-model="newPackage.hotel"
            type="text"
            placeholder="Contoh: Hilton Makkah"
            required
          />
        </div>

        <div class="input-group">
          <label>Penerbangan</label>
          <input
            v-model="newPackage.flight"
            type="text"
            placeholder="Contoh: Saudi Airlines"
            required
          />
        </div>

        <div class="input-group">
          <label>Harga (RM)</label>
          <input
            v-model.number="newPackage.price"
            type="number"
            placeholder="Contoh: 5000"
            required
            min="0"
          />
        </div>

        <div class="input-group">
          <label>Tarikh Berlepas</label>
          <input v-model="newPackage.tarikhBerlepas" type="date" required />
        </div>

        <div class="input-group">
          <label>Tarikh Pulang</label>
          <input v-model="newPackage.tarikhPulang" type="date" required />
        </div>

        <div class="input-group">
          <label>Jumlah Seat</label>
          <input
            v-model.number="newPackage.totalSeats"
            type="number"
            placeholder="Contoh: 50"
            required
            min="1"
          />
        </div>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">
            {{ editingIndex === null ? "Tambah Pakej" : "Simpan Perubahan" }}
          </button>
        </div>
      </form>
    </div>

    <hr />

    <!-- Paid Version Features -->
    <div v-if="isPaidVersion" class="paid-features">
      <!-- Search Bar -->
      <div class="search-bar">
        <input
          v-model="searchQuery"
          type="text"
          placeholder="Cari pakej..."
          class="search-input"
        />
      </div>

      <!-- Filters -->
      <div class="filters">
        <label>Filter Harga:</label>
        <select v-model="priceFilter">
          <option value="">Semua</option>
          <option value="0-5000">RM0 - RM5000</option>
          <option value="5001-10000">RM5001 - RM10000</option>
          <option value="10001-20000">RM10001 - RM20000</option>
        </select>
      </div>
    </div>

    <!-- Senarai Pakej -->
    <div class="package-list">
      <h2 class="section-title">Senarai Pakej</h2>
      <div v-if="filteredPackages.length === 0" class="empty-state">
        <p>Tiada pakej tersedia. Tambah pakej baru untuk memulakan.</p>
      </div>
      <div class="package-grid">
        <div
          v-for="pkg in paginatedPackages"
          :key="pkg.id"
          class="package-card"
        >
          <h3>{{ pkg.name }}</h3>
          <p><strong>Hotel:</strong> {{ pkg.hotel }}</p>
          <p><strong>Penerbangan:</strong> {{ pkg.flight }}</p>
          <p><strong>Harga:</strong> RM{{ pkg.price.toLocaleString() }}</p>
          <div class="seat-status">
            <p>
              <strong>Seats:</strong> {{ pkg.availableSeats }} /
              {{ pkg.totalSeats }}
            </p>
            <progress
              :value="pkg.availableSeats"
              :max="pkg.totalSeats"
            ></progress>
          </div>

          <!-- Butang -->
          <div class="action-buttons">
            <button @click="editPackage(pkg.id)" class="btn btn-edit">
              Edit
            </button>
            <button @click="deletePackage(pkg.id)" class="btn btn-delete">
              Padam
            </button>
          </div>
        </div>
      </div>

      <!-- Pagination (Paid Version Only) -->
      <div
        v-if="isPaidVersion && filteredPackages.length > 0"
        class="pagination"
      >
        <button @click="prevPage" :disabled="currentPage === 1">Sebelum</button>
        <span>Halaman {{ currentPage }} / {{ totalPages }}</span>
        <button @click="nextPage" :disabled="currentPage === totalPages">
          Seterusnya
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { paidVersion } from "@/data/config"; // Import paidVersion from config.js

export default {
  name: "PackagesPage",
  data() {
    return {
      packages: [], // Initialize as empty array
      newPackage: {
        name: "",
        hotel: "",
        flight: "",
        price: 0,
        totalSeats: 0,
        availableSeats: 0,
        tarikhBerlepas: null, // Added
        tarikhPulang: null, // Added
      },
      editingIndex: null,
      isPaidVersion: paidVersion, // Set paid version status
      searchQuery: "",
      priceFilter: "",
      currentPage: 1,
      itemsPerPage: 5, // Items per page for pagination
    };
  },
  computed: {
    // Filter packages based on search and price filter
    filteredPackages() {
      let filtered = this.packages;

      // Search by package name
      if (this.searchQuery) {
        filtered = filtered.filter((pkg) =>
          pkg.name.toLowerCase().includes(this.searchQuery.toLowerCase())
        );
      }

      // Filter by price range
      if (this.priceFilter) {
        const [min, max] = this.priceFilter.split("-").map(Number);
        filtered = filtered.filter(
          (pkg) => pkg.price >= min && pkg.price <= max
        );
      }

      return filtered;
    },

    // Paginate packages
    paginatedPackages() {
      const start = (this.currentPage - 1) * this.itemsPerPage;
      const end = start + this.itemsPerPage;
      return this.filteredPackages.slice(start, end);
    },

    // Calculate total pages
    totalPages() {
      return Math.ceil(this.filteredPackages.length / this.itemsPerPage);
    },
  },
  mounted() {
    this.loadPackages(); // Load packages when the component is mounted
  },
  methods: {
    generateId() {
      return Date.now().toString(36) + Math.random().toString(36).substr(2);
    },
    savePackage() {
      if (this.editingIndex === null) {
        const newPkg = {
          ...this.newPackage,
          availableSeats: this.newPackage.totalSeats,
          id: this.generateId(), // Generate ID
        };
        this.packages.push(newPkg);
      } else {
        const index = this.packages.findIndex(
          (pkg) => pkg.id === this.editingIndex
        );
        if (index !== -1) {
          this.packages[index] = { ...this.newPackage, id: this.editingIndex };
        }
        this.editingIndex = null;
      }
      this.resetForm();
      this.savePackages(); // Save to local storage
    },
    editPackage(id) {
      const pkg = this.packages.find((pkg) => pkg.id === id);
      if (pkg) {
        this.newPackage = { ...pkg };
        this.editingIndex = id;
      }
    },
    deletePackage(id) {
      this.packages = this.packages.filter((pkg) => pkg.id !== id);
      this.savePackages(); // Save to local storage
    },
    resetForm() {
      this.newPackage = {
        name: "",
        hotel: "",
        flight: "",
        price: 0,
        totalSeats: 0,
        availableSeats: 0,
        tarikhBerlepas: null,
        tarikhPulang: null,
      };
    },
    savePackages() {
      localStorage.setItem("umrahPackages", JSON.stringify(this.packages));
    },
    loadPackages() {
      const savedPackages = localStorage.getItem("umrahPackages");
      if (savedPackages) {
        this.packages = JSON.parse(savedPackages);
      }
    },
    nextPage() {
      if (this.currentPage < this.totalPages) this.currentPage++;
    },
    prevPage() {
      if (this.currentPage > 1) this.currentPage--;
    },
  },
};
</script>

<style scoped>
/* Global Styles */
.packages-page {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
  font-family: "Arial", sans-serif;
}

.page-title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 30px;
  color: #2c3e50;
}

/* Form Styles */
.form-container {
  background: #fff;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #34495e;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.form-actions {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

/* Buttons */
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-edit {
  background-color: #ffc107;
  color: black;
}

.btn-edit:hover {
  background-color: #e0a800;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

/* Packages List */
.package-list {
  margin-top: 30px;
}

.package-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.package-card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.package-card:hover {
  transform: translateY(-5px);
}

.package-card h3 {
  margin: 0;
  font-size: 18px;
  color: #333;
}

.package-card p {
  margin: 5px 0;
  color: #666;
}

.seat-status {
  margin-top: 10px;
}

.seat-status progress {
  width: 100%;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  background: #ddd;
}

.seat-status progress::-webkit-progress-bar {
  background: #ddd;
}

.seat-status progress::-webkit-progress-value {
  background: #28a745;
}

.action-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.empty-state {
  text-align: center;
  color: #777;
  padding: 20px;
  border: 1px dashed #ddd;
  border-radius: 8px;
}

/* Paid Version Features */
.paid-features {
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 15px;
}

.search-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.filters {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filters label {
  font-weight: bold;
}

.filters select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}
</style>
