<template>
  <div class="payment-page">
    <h1>Pengurusan Pembayaran</h1>

    <!-- Search and Filter (Paid Version Only) -->
    <div v-if="isPaidVersion" class="search-filter">
      <input
        v-model="searchQuery"
        placeholder="Cari Pelanggan..."
        class="search-input"
      />
      <select v-model="filterStatus" class="filter-select">
        <option value="">Semua Status</option>
        <option value="Paid">Paid</option>
        <option value="Partial">Partial</option>
        <option value="Pending">Pending</option>
        <option value="Canceled">Canceled</option>
      </select>
    </div>

    <!-- Payment Table -->
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nama Pelanggan</th>
            <th>Pakej</th>
            <th>Jumlah Pakej (RM)</th>
            <th>Jumlah Bayaran (RM)</th>
            <th>Baki (RM)</th>
            <th>Status Pembayaran</th>
            <th>Tindakan</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="booking in paginatedBookings" :key="booking.id">
            <td>{{ booking.customerName }}</td>
            <td>{{ getPackageName(booking.packageId) }}</td>
            <td>{{ getPackagePrice(booking.packageId).toLocaleString() }}</td>
            <td>{{ booking.paymentAmount.toLocaleString() }}</td>
            <td>{{ calculateRemaining(booking).toLocaleString() }}</td>
            <td>
              <span :class="`status-${booking.paymentStatus.toLowerCase()}`">
                {{ booking.paymentStatus }}
              </span>
            </td>
            <td>
              <button @click="showPaymentModal(booking)" class="btn-update">
                Update
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination (Paid Version Only) -->
    <div v-if="isPaidVersion && filteredBookings.length > 0" class="pagination">
      <button
        :disabled="currentPage === 1"
        @click="changePage(currentPage - 1)"
        class="btn-pagination"
      >
        Sebelumnya
      </button>
      <span>Halaman {{ currentPage }} / {{ totalPages }}</span>
      <button
        :disabled="currentPage >= totalPages"
        @click="changePage(currentPage + 1)"
        class="btn-pagination"
      >
        Seterusnya
      </button>
    </div>

    <!-- Payment Modal -->
    <teleport to="body">
      <div v-if="showModal" class="modal-overlay">
        <div class="modal">
          <h2>Kemaskini Pembayaran</h2>
          <div class="modal-content">
            <div class="input-group">
              <label>Status Pembayaran:</label>
              <select v-model="selectedBooking.paymentStatus" class="modal-select">
                <option value="Paid">Paid</option>
                <option value="Partial">Partial</option>
                <option value="Pending">Pending</option>
                <option value="Canceled">Canceled</option>
              </select>
            </div>
            <div class="input-group">
              <label>Jumlah Bayaran (RM):</label>
              <input
                type="number"
                v-model="selectedBooking.paymentAmount"
                class="modal-input"
              />
            </div>
            <div class="input-group">
              <label>Resit Pembayaran:</label>
              <input type="file" @change="handleReceiptUpload" class="modal-file" />
            </div>
            <div class="modal-actions">
              <button @click="updatePayment" class="btn-save">Simpan</button>
              <button @click="closeModal" class="btn-cancel">Batal</button>
            </div>
          </div>
        </div>
      </div>
    </teleport>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { paidVersion } from "@/data/config";

export default {
  name: "PaymentListPage",
  data() {
    return {
      bookings: [],
      packages: [],
      customers: [],
      showModal: false,
      selectedBooking: null,
      selectedReceipt: null,
      searchQuery: "",
      filterStatus: "",
      currentPage: 1,
      itemsPerPage: 10,
      isPaidVersion: paidVersion,
    };
  },
  computed: {
    // Filter bookings based on search and status
    filteredBookings() {
      let filtered = this.bookings;

      if (this.searchQuery) {
        filtered = filtered.filter((booking) =>
          booking.customerName.toLowerCase().includes(this.searchQuery.toLowerCase())
        );
      }

      if (this.filterStatus) {
        filtered = filtered.filter(
          (booking) => booking.paymentStatus === this.filterStatus
        );
      }

      return filtered;
    },

    // Paginate bookings
    paginatedBookings() {
      const start = (this.currentPage - 1) * this.itemsPerPage;
      const end = start + this.itemsPerPage;
      return this.filteredBookings.slice(start, end);
    },

    // Calculate total pages
    totalPages() {
      return Math.ceil(this.filteredBookings.length / this.itemsPerPage);
    },
  },
  mounted() {
    this.loadData();
  },
  methods: {
    // Load data from localStorage
    loadData() {
      this.bookings = JSON.parse(localStorage.getItem("umrahBookings")) || [];
      this.packages = JSON.parse(localStorage.getItem("umrahPackages")) || [];
      this.customers = JSON.parse(localStorage.getItem("customers")) || [];

      this.bookings.forEach((booking) => {
        const customer = this.customers.find((c) => c.id === booking.customerId);
        booking.paymentStatus = customer ? customer.paymentStatus || "Pending" : "Pending";
        booking.paymentAmount = customer ? customer.paymentAmount || 0 : 0;
      });
    },

    // Get package name by ID
    getPackageName(packageId) {
      const pkg = this.packages.find((p) => p.id === packageId);
      return pkg ? pkg.name : "Pakej Tidak Ditemui";
    },

    // Get package price by ID
    getPackagePrice(packageId) {
      const pkg = this.packages.find((p) => p.id === packageId);
      return pkg ? pkg.price || 0 : 0;
    },

    // Show payment modal
    showPaymentModal(booking) {
      this.selectedBooking = { ...booking };
      this.showModal = true;
    },

    // Close modal
    closeModal() {
      this.showModal = false;
      this.selectedBooking = null;
      this.selectedReceipt = null;
    },

    // Handle receipt upload
    handleReceiptUpload(event) {
      this.selectedReceipt = event.target.files[0];
    },

    // Update payment and status
    updatePayment() {
      const bookingIndex = this.bookings.findIndex(
        (b) => b.id === this.selectedBooking.id
      );
      if (bookingIndex !== -1) {
        const packagePrice = this.getPackagePrice(this.selectedBooking.packageId);
        const paymentAmount = this.selectedBooking.paymentAmount;

        // Update payment status based on payment amount
        if (paymentAmount >= packagePrice) {
          this.selectedBooking.paymentStatus = "Paid";
          this.selectedBooking.status = "Paid";
        } else if (paymentAmount > 0) {
          this.selectedBooking.paymentStatus = "Partial";
          this.selectedBooking.status = "Partial";
        } else {
          this.selectedBooking.paymentStatus = "Pending";
          this.selectedBooking.status = "Pending";
        }

        // Update booking
        this.bookings[bookingIndex] = { ...this.selectedBooking };

        // Update customer
        const customerIndex = this.customers.findIndex(
          (c) => c.id === this.selectedBooking.customerId
        );
        if (customerIndex !== -1) {
          this.customers[customerIndex].paymentStatus =
            this.selectedBooking.paymentStatus;
          this.customers[customerIndex].paymentAmount = paymentAmount;
        }

        // Save to localStorage
        localStorage.setItem("umrahBookings", JSON.stringify(this.bookings));
        localStorage.setItem("customers", JSON.stringify(this.customers));

        this.closeModal();
        Swal.fire("Pembayaran Dikemaskini!", "", "success");
      }
    },

    // Change pagination page
    changePage(page) {
      this.currentPage = page;
    },

    // Calculate remaining balance
    calculateRemaining(booking) {
      const packagePrice = this.getPackagePrice(booking.packageId);
      const paymentAmount = booking.paymentAmount || 0;
      return packagePrice - paymentAmount;
    },
  },
};
</script>

<style scoped>
.payment-page {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.search-filter {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.search-input,
.filter-select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f8f9fa;
  font-weight: bold;
}

tr:hover {
  background-color: #f1f1f1;
}

.status-paid {
  color: #28a745;
}

status-pending {
  color: #ffc107;
}

.status-canceled {
  color: #dc3545;
}

.btn-update {
  padding: 8px 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-update:hover {
  background-color: #0056b3;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.btn-pagination {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-pagination:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.btn-pagination:hover:not(:disabled) {
  background-color: #007bff;
  color: white;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.modal-select,
.modal-input,
.modal-file {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.btn-save {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-save:hover {
  background-color: #218838;
}

.btn-cancel {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-cancel:hover {
  background-color: #c82333;
}
</style>