<template>
  <div
    class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center"
  >
    <div class="bg-white p-6 rounded-lg w-96">
      <h2 class="text-xl font-bold mb-4">
        {{ agent ? "Edit Agent" : "Add Agent" }}
      </h2>

      <label class="block mb-2">Full Name</label>
      <input
        v-model="form.fullName"
        class="w-full border p-2 mb-2"
        type="text"
        required
      />

      <label class="block mb-2">Email</label>
      <input
        v-model="form.email"
        class="w-full border p-2 mb-2"
        type="email"
        required
      />

      <label class="block mb-2">Phone</label>
      <input
        v-model="form.phone"
        class="w-full border p-2 mb-2"
        type="text"
        required
      />

      <label class="block mb-2">Status</label>
      <select v-model="form.status" class="w-full border p-2 mb-4">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option>
      </select>

      <div class="flex justify-end space-x-2">
        <button
          @click="$emit('close')"
          class="bg-gray-400 text-white px-4 py-2 rounded"
        >
          Cancel
        </button>
        <button @click="save" class="bg-blue-500 text-white px-4 py-2 rounded">
          Save
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import { ref, watchEffect } from "vue";

export default {
  name: "AgentModal",
  props: {
    agent: Object,
  },
  emits: ["save", "close"],
  setup(props, { emit }) {
    const form = ref({ fullName: "", email: "", phone: "", status: "active" });

    watchEffect(() => {
      if (props.agent) {
        form.value = { ...props.agent };
      } else {
        form.value = { fullName: "", email: "", phone: "", status: "active" };
      }
    });

    const save = () => {
      Swal.fire({
        title: "Confirm Save?",
        text: "Are you sure you want to save this agent?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Yes, save it!",
      }).then((result) => {
        if (result.isConfirmed) {
          emit("save", {
            ...form.value,
            agentId: props.agent ? props.agent.agentId : null,
          });
          Swal.fire("Saved!", "The agent has been saved.", "success");
        }
      });
    };

    return { form, save };
  },
};
</script>
