<template>
  <div v-if="isOpen" class="modal-overlay">
    <div class="modal-content">
      <span class="close-button" @click="closeModal">&times;</span>
      <h2>Customer Form</h2>
      <form @submit.prevent="submitForm" class="customer-form">
        <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input
            type="text"
            id="fullName"
            v-model="customer.fullName"
            required
          />
        </div>

        <div class="form-group">
          <label for="idNumber">NRIC/Passport:</label>
          <input
            type="text"
            id="idNumber"
            v-model="customer.idNumber"
            required
          />
        </div>

        <div class="form-group">
          <label for="phone">Phone:</label>
          <input type="tel" id="phone" v-model="customer.phone" required />
        </div>

        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" v-model="customer.email" required />
        </div>

        <div class="form-group">
          <label for="dob">Date of Birth:</label>
          <input type="date" id="dob" v-model="customer.dob" />
        </div>

        <div class="form-group">
          <label for="gender">Gender:</label>
          <select id="gender" v-model="customer.gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>

        <div class="form-group">
          <label for="address">Address:</label>
          <textarea id="address" v-model="customer.address"></textarea>
        </div>

        <div class="form-group">
          <label for="medicalInfo">Medical Info:</label>
          <textarea id="medicalInfo" v-model="customer.medicalInfo"></textarea>
        </div>

        <div class="form-group">
          <label for="notes">Notes:</label>
          <textarea id="notes" v-model="customer.notes"></textarea>
        </div>

        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "CustomerForm",
  props: {
    isOpen: Boolean,
  },
  data() {
    return {
      customer: {
        id: Date.now(), // Unique customer ID
        fullName: "",
        idNumber: "", // NRIC or Passport number
        phone: "",
        email: "",
        registrationDate: new Date().toISOString().slice(0, 10), // Auto-filled registration date
        bookingCount: 0,
        status: "Aktif",
        address: "",
        dob: "",
        gender: "",
        medicalInfo: "",
        notes: "",
        documents: [],
        bookingHistory: [],
      },
    };
  },
  methods: {
    submitForm() {
      console.log("Customer Data:", this.customer);
      this.$emit("customer-submitted", this.customer);
      this.closeModal();
    },
    closeModal() {
      this.$emit("close-modal");
    },
  },
};
</script>

<style scoped>
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.customer-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background: #28a745;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}
</style>
