<template>
  <footer>
    <!-- Footer Content -->
    <div class="footer-content">
      <!-- left Section: Links -->
      <div class="footer-left">
        <ul class="footer-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <!-- right Section: Copyright -->
      <div class="footer-right">
        <p>&copy; 2023 Your Company Name. All rights reserved.</p>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "FooterSetup",
};
</script>

<style scoped>
/* General Footer Styling */
footer {
  background-color: #2c3e50; /* Darker, professional background */
  color: #fff;
  height: 60px; /* Fixed height */
  display: flex;
  align-items: center; /* Vertically center content */
  justify-content: space-between; /* Space between left and right sections */
  padding: 0 40px; /* Horizontal padding for spacing */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.footer-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Left Section: Copyright */
.footer-left p {
  font-size: 0.8rem; /* Small text size */
  margin: 0;
  color: rgba(255, 255, 255, 0.7); /* Dimmed text */
}

/* Right Section: Links */
.footer-links {
  list-style: none;
  display: flex;
  gap: 20px; /* Spacing between links */
  margin: 0;
  padding: 0;
}

.footer-links li {
  display: inline-block;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem; /* Small text size */
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff6b6b; /* Reddish color on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  footer {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    height: auto; /* Allow height to grow for smaller screens */
  }

  .footer-content {
    flex-direction: column;
    gap: 10px;
  }

  .footer-links {
    flex-direction: column;
    gap: 5px;
  }
}
</style>
