<template>
  <meta name="viewport" content="width=1200, user-scalable=no" />
  <header :key="logoutKey">
    <div
      class="header-container"
      :class="{ 'mobile-enabled': paidVersion, 'no-mobile': !paidVersion }"
    >
      <!-- <div class="logo">
        <h1>Sofna Travel Management</h1>
      </div> -->
      <nav>
        <router-link
          v-for="item in visibleNavItems"
          :key="item.to"
          :to="item.to"
          class="nav-link"
        >
          {{ item.label }}
        </router-link>
        <button v-if="isLoggedIn" @click="confirmLogout" class="nav-link">
          Logout
        </button>
        <router-link v-else to="/login" class="nav-link">Login</router-link>
      </nav>
    </div>
  </header>
</template>

<script>
import { paidVersion } from "@/data/config";
import Swal from "sweetalert2";
import { computed, inject, ref } from "vue";
import { useRouter } from "vue-router";

export default {
  name: "HeaderSetup",
  setup() {
    const isLoggedInReactive = inject("isLoggedInReactive");
    const logoutKey = ref(0);
    const router = useRouter();
    const isPaidVersion = ref(paidVersion);

    const isLoggedIn = computed(() => isLoggedInReactive.value);
    const userRole = computed(() => localStorage.getItem("userRole") || null);

    const visibleNavItems = computed(() => {
      if (!isLoggedIn.value || !userRole.value) {
        return [{ to: "/contact", label: "Contact" }];
      }

      const navItems = [
        { to: "/", label: "Dashboard", roles: ["Admin"] },
        { to: "/packages", label: "Pakej Umrah", roles: ["Admin", "Agent"] },
        { to: "/customers", label: "Jemaah", roles: ["Admin", "Agent"] },
        { to: "/bookings", label: "Tempahan Pakej", roles: ["Admin", "Agent"] },
        { to: "/payments", label: "Payment", roles: ["Admin"] },
        { to: "/agents", label: "Agents", roles: ["Admin"] },
        { to: "/contact", label: "Contact" },
      ];

      return navItems.filter(
        (item) => item.roles?.includes(userRole.value) || !item.roles
      );
    });

    const confirmLogout = () => {
      Swal.fire({
        title: "Are you sure?",
        text: "Do you want to logout?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, logout!",
      }).then((result) => {
        if (result.isConfirmed) logout();
      });
    };

    const logout = () => {
      localStorage.removeItem("user");
      localStorage.removeItem("userRole");
      isLoggedInReactive.value = false;
      logoutKey.value++;
      router.push("/login");
    };

    return {
      isLoggedIn,
      userRole,
      visibleNavItems,
      confirmLogout,
      logout,
      logoutKey,
      isPaidVersion,
    };
  },
};
</script>

<style scoped>
header {
  background-color: #34495e;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
}

.nav-link:hover,
.nav-link.router-link-active {
  background-color: #2c3e50;
  color: #ecf0f1;
}

/* Mobile styles only if paidVersion is true */
.mobile-enabled {
  display: block;
}

@media (max-width: 768px) {
  .mobile-enabled .header-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile-enabled nav {
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin-top: 10px;
  }

  .mobile-enabled .nav-link {
    margin: 5px 0;
    width: 100%;
    text-align: left;
  }

  /* If paidVersion is false, force desktop layout */
  .desktop-only {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
}
/* Force desktop layout if paidVersion is false */
.no-mobile {
  min-width: 1200px; /* Ensures desktop width */
  overflow-x: auto; /* Allows horizontal scrolling if needed */
  font-size: 1rem !important; /* Keeps font size fixed */
}

.no-mobile .header-container {
  flex-direction: row !important; /* Prevents stacking */
  align-items: center !important;
  height: 80px !important; /* Fix header height */
  padding: 0 20px !important;
}

.no-mobile .logo h1 {
  font-size: 1.8rem !important; /* Maintain desktop font size */
}

.no-mobile nav {
  flex-direction: row !important; /* Keep horizontal nav */
  align-items: center !important;
  width: auto !important;
}

.no-mobile .nav-link {
  font-size: 1rem !important;
  padding: 10px 15px !important;
  margin-left: 10px !important;
  width: auto !important;
  text-align: center !important;
}

/* Override mobile-specific styles */
@media (max-width: 768px) {
  .no-mobile {
    width: 1200px !important; /* Prevents shrinking */
  }

  .no-mobile .header-container {
    flex-direction: row !important;
  }

  .no-mobile nav {
    flex-direction: row !important;
  }

  .no-mobile .nav-link {
    width: auto !important;
    margin-left: 10px !important;
    text-align: center !important;
  }
}
</style>
