<template>
  <div id="app">
    <Header :key="headerKey" />
    <main>
      <router-view />
    </main>
    <Footer />
  </div>
</template>

<script>
import Footer from "./components/Footer.vue";
import Header from "./components/Header.vue";

import { ref, provide } from "vue";
export default {
  components: {
    Header,
    Footer,
  },
  setup() {
    const headerKey = ref(0);
    const isLoggedInReactive = ref(!!localStorage.getItem("user"));

    provide("isLoggedInReactive", isLoggedInReactive);

    return {
      headerKey,
    };
  },
};
</script>

<style>
/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* App Layout */
#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the app takes up the full viewport height */
}

/* Main Content */
main {
  flex-grow: 1; /* Makes the main content grow to fill available space */
}

/* Header and Footer Styling */
header,
footer {
  margin: 0; /* Ensures no margin is applied */
  padding: 1rem; /* Optional: Add padding for internal spacing */
  background-color: #2c3e50; /* Example background color */
  color: white; /* Example text color */
  text-align: center; /* Center align text */
}

/* Optional: Add additional styles for header and footer */
header {
  font-size: 1.5rem;
  font-weight: bold;
}

footer {
  font-size: 0.9rem;
}
</style>
